:host {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--bg-color);
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
}