:host {
    display: block;
    position: relative;
    height: 60px;

    .main-contain {
        max-height: 100%;
    }

    .sm-tab-input {
        padding-top: 0rem;
        padding-bottom: 0rem;
        color: #fff;

        .target {
            background-color: unset;
            height: 32px;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        p {
            color: #fff;
        }
    }
}